{% extends 'base.html' %}


{% block title %}{{ user.username}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <strong>@{{ user.username }}</strong><br>
        <strong>Name</strong>:{{ user.first_name }}&nbsp{{user.last_name}}<br>
        <strong>Email</strong>:{{ user.email}}<br>
        <strong>Username</strong>:{{ user.username}}<br>
    </div>
    <div class="row">
        {% if user.username != request.user.username %}

            {% if  request.user.user_profile in user.user_profile.followed_by.all %}
                <a href="{% url 'accounts:stop_follow' user.username %}" class="btn btn-info">Unfollow</a>
            {% else %}
                <a href="{% url "accounts:follows" user.username %}" class="btn btn-info">Follow</button></a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
