asgiref==3.2.3
autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
Django==3.0.7
django-widget-tweaks==1.4.5
idna==2.8
Pillow==7.1.0
pycodestyle==2.5.0
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
stripe==2.40.0
urllib3==1.25.8
