{% extends "base.html" %}

{% block content %}
    
<div class="conainer">
    <div class="row">
        <div class="col-10 mx-auto">
            <form class="paymentForm" action="" method="post" id="payment-form" data-token="{{public_key}}">
            {% csrf_token %}
            <h1> Add Payment </h1>
            <div class="form-row">
                <label for="card-element">
                Credit or debit card
                </label>
                <div id="card-element" class="form-control">
                    
                </div>
                <div class="my-3">
                    <input type="number" placeholder="Amount" class="form-control" name="amount">
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button type="submit" class="btn btn-info my-2">Submit Payment</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
