{% extends 'base.html' %}


{% block title %}Login{% endblock %}
{% block content %}

<body class="login-body">
    <div class="flex-container">
        <div class="content-conatiner">
                <div class="wrong">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{message}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            <div class="signinform-form-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1>Login</h1><br><br>
                    <span class="subtitle">Username</span><br>
                    <input type="text" name="username" value="" class="input-details" ><br>
                    <span class="subtitle">Password</span><br>
                    <input type="password" name="password" value="" class="input-details"><br>
                    <button type="submit" class="submit-btn">Login</button>
                </form>
            <div>
        </div>
    <div>
</body>
{% endblock %}