{% extends 'base.html' %}


{% block title %}SignUp{% endblock %}
{% load widget_tweaks %}
{% block content %}
<!-- SignUpForm -->


<div class="signupform-flex-container ">
    <div class="signupform-content-container">
        <div class="signupform-form-container"> 
            <div class="wrong">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>



            <form action="" method="POST">
                    {% csrf_token %}
                    <h1 class="signupform-header">Signup</h1><br><br>
                    <span class="subtitle">Firstname</span><br>
                        {{form.first_name|add_class:'input-details'}}<br>
                    <span class="subtitle">Lastname</span><br>
                        {{form.last_name|add_class:'input-details'}}<br>
                    <span class="subtitle">Email</span><br>
                        {{form.email|add_class:'input-details'}}<br>
                    <span class="subtitle">Username</span><br>
                        {{form.user_name|add_class:'input-details'}}<br>
                    <span class="subtitle">Password</span><br>
                        {{form.password1|add_class:'input-details'}}<br>
                    <span class="subtitle">Confirm Password</span><br>
                        {{form.password2|add_class:'input-details'}}<br>
                    <button type="submit" class="submit-btn">Sign-In</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
