{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <div class="row">
        <div class="col-3">
            <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span style="font-size: 15px;">{{ user.first_name}} {{user.last_name}}</span></h4>
                        <!-- <p class="card-text">Bio</p> -->
                        <h6><span class="font-size: 15px;">Followers&nbsp{{ request.user.profile.followed_by.count }}<br>Following&nbsp{{ request.user.profile.followed_to.count }}</span></h6>
                        <a href="{% url 'accounts:profile' user.username %}" class="card-link"><span style="font-size: 13px;">Profile</a>
                    </div>
            </div>
        </div>
        <div class="col-6">
            {% for p in post %}
                <div class="card">
                    <div class="card-body">
                        <span class="card-title">{{ p.user.first_name }}&nbsp{{ p.user.last_name }}</span><h6><span style="font-size: 10px;"><a href="{% url "accounts:profile" p.user.username %}">@{{ p.user.username }}</a></span></h6>
                        <p class="card-text">{{ p.body }}</p>
                    </div>
                    {% if p.image %}
                            <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
                    {% endif %}
                    <hr/>
                    <span class="space" style="margin-bottom: 30px;"></span>
                    <div id="like-section">
                        {% include 'snippets/post_like.html' with p=p %}
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
        <div class="col-3">Add Posts
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.body}}
                {{form.image}}
                <button type="submit" class="btn btn-danger">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
