{% extends 'base.html' %}
{% load static %}

{% block title %}Social{% endblock %}

{% block content %}


<header class="header" id="header">
		<div class="container">
			<figure class="logo animated fadeInDown">
				<a href="#"><img src="{% static 'img/logo.svg' %}" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown">Game On!</h1>
			<ul class="we-create animated fadeInUp delay-1s">
                <li>Connect, Share and Donate to the Gamers you love</li>
                <br>
				<li>For the Community, by the Community</li>
			</ul>
		</div>
</header>

{% endblock %}
