{% extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="row">
    <div class="col mx-5">
      <div class="card">
        <div class="card-body">
          <span class="card-title"><span class="mr-2"><a href="{% url 'home' %}"><i class="fa fa-angle-double-left"></i></a></span>{{ post.user.first_name }}&nbsp{{ user.last_name }}</span>
          <h6>
            <span style="font-size: 10px;">
              <a href="{% url "accounts:profile" post.user.username %}">@{{ post.user.username }}</a>
            </span>
          </h6>
          <p class="card-text">{{ post.body }}</p>
        </div>
        {% if post.image %}
              <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
        {% endif %}

      </div>

      <div id="like-section">
        {% include 'snippets/likePost.html' with post=post %}
      </div>
  
    </div>
  </div>
</div>

{% endblock %}
