{% extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="row">
    <div class="col mx-5">
      <div class="card">
        <div class="card-body">
          <span class="card-title">{{ post.user.first_name }}&nbsp{{ user.last_name }}</span>
          <h6>
            <span style="font-size: 10px;">
              <a href="{% url "accounts:profile" post.user.username %}">@{{ post.user.username }}</a>
            </span>
          </h6>
          <p class="card-text">{{ post.body }}</p>
        </div>
        {% if post.image %}
              <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
        {% endif %}

        {{totalLikes}}
      </div>

      <div id="like-section">
        <form action="{% url 'feed:likePost' %}" method="POST">
        {% csrf_token %}
          {% if isLiked %}
            <button class="btn btn-danger" name="id" value="{{post.id}}">Dislike</button>
          {% else %}
            <button class="btn btn-success" name="id" value="{{post.id}}">Like</button>
          {% endif %}
        </form>
      </div>
  
    </div>
  </div>
</div>

{% endblock %}
