.spacing {
    padding-top: 80px;
}

.front-page-img{
    background: linear-gradient(#141e30,#243b55);
    height: 100%;
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.header{
	text-align:center;
	background:url(../img/maze.png) left top repeat;
	padding:280px 0;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}

.we-create {
    padding: 10px;
}